#titulo {
    color: blue;
    background-color: beige;
}

#form {
    border-color: blue;
}

#chart_div {
    border-color: blue;
    background-color: burlywood;
}

#media {
    color: blue;
    background-color: beige;
}